#login_signup_container {
    /* Layout */
    clear: both;
    padding: 20px;
    border-radius: 3px;
    line-height: 1.4;

    width: 600px;
    margin-top: 50px;

    background-color: #4d5965;
}

#login_signup_container a {
    color: white;
}

#login_signup_container h2 {
    margin-top: 0;
}

#signup_wrapper {
    width: 50%;
    padding-right: 20px;
    border-right: 1px solid #e2e2e2;
    float: left;
}

#login_wrapper {
    width: 50%;
    padding-left: 20px;
    float: left;
}

.login-header {
    font-size: 20px;
    color: #f8862c;
}

.input-textbox {
    width: 100%;
    margin-bottom: 5px;
}

.login-submit-buttons-container {
    margin-top: 16px;
    float: right;
    font-size: 13px;
}

.submit-button-auth {
    width:100%;
    padding: 5px;
    background-color: #4d5965;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}