/*
=======================
Site-wide.
=======================
*/
html, body {
    height: 100%;
}

body {
    padding: 0;
    /*overflow: hidden;*/
    min-width: 992px;
    word-wrap: break-word;
    color: #4d5965;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

button:hover {
    color: #f8862c;
    border-color: #f8862c;
}

.content-container {
    clear: both;
    padding: 20px;
    border-radius: 3px;
    line-height: 1.4;

    width: 600px;
    margin-top: 50px;

    background-color: #4d5965;
}

.content-container label {
    color: white;
}

.content-container th {
    color: #f8862c;
}

/*
=======================
Navigation.
=======================
*/
#nav {
    background-color: #4d5965;
    border-radius: 0;
    margin-bottom: 0;
}

#logo, #menu-bar, #user-bar {
    margin: 10px;
}

#logo, #menu-bar {
    float: left;
}

#user-bar {
    float: right;
}

.menu-item {
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.menu-item span {
    color: white;
}

.menu-item span:hover {
    color: #f8862c;
}

/*
=======================
Forms.
=======================
*/
#form-content li {
    list-style-type: none;
    margin-bottom: 10px;
}

#form-content input, #form-content textarea, #form-content select {
    width: 450px;
    float: right;
}

#form-content textarea {
    resize: vertical;
    height: 100px;
}

#form-content h4 {
    color: #f8862c;
    text-align: center;
}

#form-content hr {
    margin: 0;
    margin-bottom: 10px;
    border-color: white; /* works in Chrome and Safari */
    background-color: white; /* works in Firefox and Opera */
    color: white; /* works in Internet Explorer */
}

.submit-button {
    width: 100% !important;
    padding: 5px;
    background-color: #4d5965;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

/*
=======================
Tables.
=======================
*/
#table-content {
    width: 100%;
    table-layout: fixed;
    padding-bottom: 10px;
}

#table-content td, #table-content th {
    text-align: center;
}

#table-content th {
    padding: 10px;
}

#table-content tr {
    border-width: 1px;
    border-color: #4d5965;
    border-style: solid;
}

#table-content tbody {
    color: #4d5965;
    background-color: white;
}

/*
=======================
Helpers.
=======================
*/

.center-content-v {
    display: flex;
    align-items: center;
}

.center-content-h {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center-content-hv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}