<div id="menu-bar" class="center-content-v">
    <a href="/create">
        <div id="menu-create" class="menu-item">
            <span>Create Page</span>
        </div>
    </a>
    <a href="/pages">
        <div id="menu-pages" class="menu-item">
            <span>Pages</span>
        </div>
    </a>
    <a href="/requests">
        <div id="menu-requests" class="menu-item">
            <span>Requests</span>
        </div>
    </a>

    <a href="/login">
        <div id="menu-login" class="menu-item">
            <span>Login</span>
        </div>
    </a>
</div>