<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}Home{% endblock %} | UnifiedTest</title>
    <meta name="description"
          content="{% block description %}Serengeti Animal Tracker - Your pocket guide to Serengeti National Park{% endblock %}">
    {% include 'partials/includes.html' %}
    {% block extra_libraries %}{% endblock %}
</head>
<body>
    {% include 'partials/header.html' %}
    {% block container %}
        <div id="main-wrapper" class="{% block extra-main-classes %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
</body>
</html>
