<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}Home{% endblock %} | UnifiedTest</title>
    <meta name="description"
          content="{% block description %}Team Camenita{% endblock %}">
    {% include 'partials/includes.html' %}
    {% block extra_libraries %}{% endblock %}
</head>
<body>
    {% include 'partials/nav.html' %}
    {% block container %}
        <div id="main-wrapper" class="container {% block extra-main-classes %}{% endblock %}">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    {% include 'partials/messages.html' %}
</body>
</html>
