{% extends 'layouts/base.html' %}
{% block title %}View Page{% endblock %}
{% block extra-content-classes %}center-content-hv{% endblock %}

{% block content %}

    <form id="form-content" class="container center-content-h content-container"
          action="{% url 'edit-page' form.ref.value %}" method="post">
        {% if form.non_field_errors %}
            <div>
                <strong>"Please correct the errors below"</strong><br>
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}

        {% csrf_token %}
        {{ form.as_ul }}
        <button class="submit-button" type="submit">
            Save
        </button>
    </form>

{% endblock %}
