{% extends 'layouts/base.html' %}
{% block title %}Create Page{% endblock %}
{% block extra-content-classes %}center-content-hv{% endblock %}
{% block extra_libraries %}
    <script src="/static/js/pages_auth.js"></script>
    <script src="/static/js/vendor/base64.js"></script>
{% endblock %}

{% block content %}

    <form id="form-content" class="container center-content-h content-container" method="POST"
          action="{% if mode == 'create' %}{% url 'create-page' %}{% elif mode == 'edit' %}{% url 'edit-page' page_form.ref.value %}{% endif %}">
        {% if form.non_field_errors %}
            <div>
                <strong>"Please correct the errors below"</strong><br>
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}

        {% csrf_token %}
        <h4>Parameters</h4>
        <hr>
        {{ page_form.as_ul }}
        <h4>Authentication</h4>
        <hr>
        {{ page_authentication_form.as_ul }}
        <button class="submit-button" type="submit">
            Save
        </button>
    </form>

    <script>
        var textarea_response = document.getElementById('id_response');
        textarea_response.addEventListener('dragover', handleDragOver, false);
        textarea_response.addEventListener('drop', handleFileSelect, false);
        textarea_response.setAttribute('placeholder', 'You can also drag a file here!');
        var textarea_dynamic_code = document.getElementById('id_dynamic_code');
        textarea_dynamic_code.addEventListener('dragover', handleDragOver, false);
        textarea_dynamic_code.addEventListener('drop', handleFileSelect, false);
        textarea_dynamic_code.setAttribute('placeholder', 'You can also drag a file here!');
    </script>

{% endblock %}