{% extends 'layouts/base.html' %}
{% block title %}Pages{% endblock %}
{% block extra-content-classes %}center-content-hv{% endblock %}
{% load key_value %}

{% block content %}

    <table id="table-content" class="container content-container">
        <thead>
        <tr>
            <th style="width: 25%">Ref</th>
            <th style="width: 25%">Status Code</th>
            <th style="width: 25%">Delay (ms)</th>
            <th style="width: 25%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.ref }}</td>
                <td>{{ page.status_code }}</td>
                <td>{{ page.delay }}</td>
                <td>
                    <a href="TODO">Edit</a><br/>
                    <a href="{{ absolute_urls|key_value:page.ref }}">Use</a><br/>
                    <a href="TODO">View Response</a><br/>
                    <a href="TODO">View Code</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
