{% extends 'layouts/base.html' %}
{% block title %}Create Page{% endblock %}
{% block extra-content-classes %}center-content-hv{% endblock %}
{% block extra_libraries %}
    <script src="/static/js/page-details.js"></script>
    <script src="/static/js/vendor/base64.js"></script>
{% endblock %}

{% block content %}
    <form id="form-content" class="container center-content-h content-container" method="POST"
          action="{% if mode == 'create' %}{% url 'create-page' %}{% elif mode == 'edit' %}{% url 'edit-page' page_form.ref.value %}{% endif %}">
        {% if form.non_field_errors %}
            <div>
                <strong>"Please correct the errors below"</strong><br>
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}

        {% csrf_token %}
        <h4>Parameters</h4>
        <hr>
        {{ page_form.as_ul }}
        <h4>Authentication</h4>
        <hr>
        {{ page_authentication_form.as_ul }}
        <button class="submit-button" type="submit">
            Save
        </button>
    </form>

    <script>
        // This is executed here as it needs the Django templating to load status_code_select.html.
        $(window).load(function () {
            // Inject status code select.
            var statusCodeControl = $(("#id_status_code"));
            statusCodeControl.css("width", "80px");
            $("{% include 'partials/status_code_select.html' %}").insertAfter("#id_status_code");

            // Events synchronizing the two controls.
            statusCodeControl.on('input', function () {
                statusCodeSelectControl.val(statusCodeControl.val());
            });
            var statusCodeSelectControl = $("#status-code-select");
            statusCodeSelectControl.on('change', function () {
                statusCodeControl.val(statusCodeSelectControl.val());
            });

            // Synchronize the default value.
            statusCodeSelectControl.val(statusCodeControl.val());
        });
    </script>

{% endblock %}